@import url(http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,cyr)
@import url(http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono)

html, body
  font-family: 'Droid Serif', sans-serif
  font-size: 11pt
  color: #222

html
  height: 100%
  background: #D2DDA3
  margin: 0
  padding: 0 10em

body
  min-height: 100%
  min-width: 50em
  margin: 0
  padding: 0
  background: #F2F2E4
  position: relative

h1, h2, h3, h4, label, th, dt
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif
  color: #333

h1
  font-size: 2em
  margin: 0

h2, h3, h4
  margin-top: 1em

dt
  font-weight: bold

dd
  margin-bottom: 1em

label
  font-weight: bold
  display: block

p.required label:after
  content: '*'
  color: red
  margin-left: .5em

a
  text-decoration: none
  color: brown

a:hover
  text-decoration: underline

input[type="text"], input[type="password"], textarea
  font-family: inherit
  font-size: 1em
  background: #F4F9EC
  border: 1px solid #D1D3BE
  border-radius: .25em
  -moz-border-radius: .25em
  -webkit-border-radius: .25em
  padding: .125em .25em

tt, pre
  font-family: 'Droid Sans Mono', monospace
  font-size: 95%

tt
  display: inline-block
  padding: .1em .25em
  line-height: 1em
  background: #dCe2c9

pre
  background: #F4F9EC
  overflow: auto
  overflow-y: hidden
  padding: .5em .8em
  border: 1px solid #D1D3BE
  border-radius: .25em
  -moz-border-radius: .25em
  -webkit-border-radius: .25em
