body > header, body > section, body > footer
  padding: 0 2em

body > header
  position: relative
  margin-bottom: 2em

body > footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding-bottom: 1em
  padding-top: 1em
  color: grey

body > section
  padding-bottom: 4em


body > header h1
  font-size: 4em
  margin: 0
  padding: 0
  display: inline-block
  color: brown

body > header h2
  margin: 0
  padding: 0
  font-weight: normal
  font-style: italic
  font-size: 1.1em
  color: grey
  position: absolute
  margin-top: -1em

body > header nav
  position: absolute
  bottom: 0
  right: 2em

body > header form#search
  position: absolute
  top: 1em
  right: 2em
