body > header, body > section, body > footer
  padding: 1.5em 10em

body > header
  position: relative
  background: #D2DDA3

  h1
    font-size: 4em
    margin: 0
    padding: 0
    display: inline-block
    color: brown
    margin-top: -0.2em

  h2
    margin: 0
    padding: 0
    font-weight: normal
    font-style: italic
    font-size: 1.1em
    color: #444
    position: absolute
    margin-top: -1.2em

  nav
    position: absolute
    bottom: 1.5em
    right: 10em

    #profile
      display: none

  form#search
    position: absolute
    top: 1.5em
    right: 10em

    input[type="text"]
      font-size: 80%


body > section
  padding-bottom: 6em

  .clear
    clear: both

body > sidebar ~ section
  margin-right: 18em

body > sidebar
  float: right
  width: 16em
  margin-right: 10em
  margin-top: 1.2em

body > sidebar h2
  margin-top: 1em
  margin-bottom: .5em

body > sidebar dl
  margin: 0

body > sidebar ul
  margin: .5em 0
  padding: 0 0 0 1.2em

body > sidebar ul li.current
  font-weight: bold

body > footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding: 1.5em 0
  color: grey
  text-indent: 10em
  background: #D2DDA3

  nav
    float: right
    margin-right: 10em


@media only screen and (max-device-width: 1024px)
  body > header, body > section, body > footer
    padding-left:  1.5em
    padding-right: 1.5em

  body > footer nav
    margin-right: 1.5em
