#news
  .news
    margin-top: 1em
    margin-bottom: 2em

    header
      border-bottom: 1px solid #D1D3BE
      font-size: 1.5em
      .date
        float: right
        color: #888


body.news-index
  a.rss
    float:       right
    margin-top: -1.5em
    font-family: 'Dosis', sans-serif
    font-size:   2em

body.news-show
  h1
    .date
      float: right
      color: #888