#shows
  .show
    margin-top: 1em
    margin-bottom: 2em

    header
      border-bottom: 1px solid #D1D3BE
      font-size: 1.5em
      .date
        float: right
        color: #888


body.shows-index
  a.rss
    float: right
    margin-top: -1.5em
    font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif
    font-size: 1.5em
    font-weight: bold

body.shows-show
  min-width: 800pt

  h1
    .date
      float: right
      color: #888

  iframe.video
    background: #F4F9EC
    border: 1px solid #D1D3BE
    border-radius: .25em
    box-shadow: 0em 0em .5em #AAA