%h1 About Project

%p
  <b>NOTE:</b> the project is in a beta stage at the moment.

%p
  <tt>Lovely.IO</tt> is a front-side development platform, which includes
  a modular framework, development tools, CDN hosting, packaging and
  asynchronous modules loading with automatic dependencies handling.

%p
  The idea of the project is to provide a full-stack environment for
  creating easy to maintain and use front-side modules. In a sense it
  is much like <a href="http://rubygems.org">rubygems</a> but for
  the front side.