%h1 DOM Speed Benchmark

%p
  <b>Disclamer:</b> this benchmark uses the #{link_to "kick-ass package", package_path("kick-ass")}
  to test the library's performance. All source code of the test is available at the
  <a href="https://github.com/MadRabbit/kick-ass">package's GitHub repo</a>.

%p
  #start
    %a{"href" => "#"} <b>Start The Test!</b>

%p
  #test-container

:javascript
  Lovely(["kick-ass", "dom"], function(KickAss, $) {
    var test = new KickAss({
      libs: [
        'lovely-1.4.3',
        'jquery-1.9.1',
        'jquery-2.0.0'
      ]
    });

    test.insertTo('#test-container');

    test.on('finish', function() {
      $('#start').hide();
    });

    $(document).delegate('#start', 'click', function(e) {
      e.preventDefault();
      this.first('a') && test.start();
      this.html('Working...');
    });
  });

