.punch-line
  .half-width
    %h1 Forget The Installation!

    %p
      Lovely.IO is a centralized repository of front-side packages

    %p
      Just say which packages you need and you'll get them!

  .half-width
    %pre{:"data-lang" => "html"}
      :preserve
        &lt;script src="http://cdn.lovely.io/core.js"&gt;&lt;/script&gt;
        &lt;script type="text/javascript"&gt;
          Lovely(['dom', 'ajax', 'fx'], function($, Ajax, Fx) {
            // you're ready to rock!
          });
        &lt;/script&gt;


.punch-line
  .half-width
    %pre{:"data-lang" => "js"}
      :preserve
        Lovely(['mines-game-1.0.2'], function(Game) {
          var game = new Game();
          game.insertTo(document.body);
        });

  .half-width
    %h1 Forget Dependencies!

    %p
      Lovely.IO automatically resolves all the dependencies for you!


.punch-line
  .half-width
    %h1 Forget The Assets Hassle!

    %p
      Lovely.IO automatically handles all the assets.

    %p
      All styles, images, etc. They're just there!

  .half-width
    %pre{:"data-lang" => "js"}
      :preserve
        Lovely(['ui-2.3.4'], function(UI) {
          var icon = new UI.Icon('delete');
          icon.insertTo('#my-element');

          // all styles are already there!
        });

.punch-line
  .half-width
    %a.thmb{:href => "/images/pages/landing-benchmark.png", :"data-zoom" => ""}<
      %img{:src => "/images/pages/landing-benchmark-thmb.png", :style => "height: 7em;"}

    :javascript
      Lovely(['zoom'], function() {});

  .half-width
    %h1 Enjoy The DOM Speed!

    %p
      Lovely.IO DOM package is build on a new architecture

    %p
      It uses dom-wrappers, which are much, much faster!

.punch-line
  .half-width
    %h1 Enjoy The Loading Speed!

    %p
      Lovely.IO is build upon AMD structure

    %p
      And it uses CloudFront to deliver the packages!

  .half-width
    %a.thmb{:href => "/images/pages/landing-loading.png", :"data-zoom" => ""}<
      %img{:src => "/images/pages/landing-loading.png", :style => "height: 7em;"}

.punch-line
  .half-width
    %pre{:"data-lang" => 'coffee'}
      :preserve
        LoginForm = Form.inherit
          send: ->
            @$super() if @valid()

          valid: ->
            @values()['username'] && @values()['password']

  .half-width
    %h1 Be Civilized On Front-Side!

    %p
      Lovely.IO uses OOP dom-wrappers at it's core

    %p
      Which allows you to write clean and maintanable code


.punch-line
  .half-width
    %h1 Be Part Of It!

    %p
      Lovely.IO is an open and fully automated repository

    %p
      Anyone can share their packages in here!

  .half-width#installation-example
    %pre{:"data-lang" => "shell", :"data-colorifier" => '{"gutter": false}'}
      :preserve
        $ npm install lovely -g
        $
        $ lovely new my-awesome-package
        $ cd my-awesome-package
        $ ...
        $ lovely publish



.packages-block
  .half-width
    %h2 New Packages

    .packages
      - Package.recent.limit(10).each do |package|
        = render package

    %p.bottom-links
      = link_to "All packages", packages_path

  .half-width
    %h2 Updated Packages

    .packages
      - Package.updated.limit(10).each do |package|
        = render package

    %p.bottom-links
      = link_to "RSS Feed", updated_packages_path(:format => :atom)
