<h1>Live Demo</h1>

<div id="live-demo">

<textarea id="demo-code">
Lovely(['dom', 'fx'], function($) {
  $('#test')
    .html('Hello World!')
    .highlight('pink');
});
</textarea>
<button id="reset">Reset</button>
<button id="start">Try Me!</button>


<div id="test"></div>

</div>
