%h1 Terms Of Use

%p
  <a href="http://lovely.io">Lovely.IO</a> project and its packages registry are
  owned by Nikolay Nemshilov. All rights not explicitly granted in the MIT license
  are reserved.

%p
  The packages that hosted on the <a href="http://lovely.io">lovely.io</a> service
  are not part of the <a href="http://lovely.io">lovely.io</a> project itself, but
  solely property and responsibility of their maintainers.

%p
  Packages that are published on <a href="http://lovely.io">lovely.io</a> are not
  affiliated or endorsed by the <a href="http://lovely.io">lovely.io</a> project or
  Nikolay Nemshilov

%p
  While all efforts are made to ensure accountability, there is no guaranty of any
  kind, warrantee, or assertion made to the quality, or lack of malice in the
  <a href="http://lovely.io">lovely.io</a> service or any given package hosted on it.


%h2 Use Of Service

%ol
  %li
    You are granted a non-exclusive, non-transferable license to use the
    <a href="http://lovely.io">lovely.io</a> service as a source of publicly
    available packages, and also as a hosting platform for your own modules.

  %li
    By using any of the packages hosted at this service, you therefore confirm
    that you are agree with the current terms of use and with the package's
    license agreement.

  %li
    By publishing a package at the <a href="http://lovely.io">lovely.io</a>
    service you confirm that you are agree with the current terms of use and
    allow the third party applications use your module in terms of your
    package's license agreement

  %li
    You are free to choose your own license for your own packages.



%h2 Restrictions Of Use

%ol
  %li
    The <a href="http://lovely.io">lovely.io</a> service shall not be used to host
    any sort of offensive or dangerous content and/or spyware.

  %li
    The <a href="http://lovely.io">lovely.io</a> cannot be used to host any other
    general use frameworks that duplicate the STL packages functionality.

  %li
    No packages hosted at <a href="http://lovely.io">lovely.io</a> should provide
    an explicit support of obsolete browsers and browsers that do not comply with
    the W3C standards.

  %li
    All packages hosted at <a href="http://lovely.io">lovely.io</a> should not
    copy, reverse engineer and such, any commercial projects that are protected by
    copyright law and explicitly prohibit other developers from doing so.


%h2 Administrative Actions

%ol
  %li
    Administration of the <a href="http://lovely.io">lovely.io</a> service reserves
    the right to block or/and remove any user or package from the service without
    an explicit explanation or prior warning.

  %li
    Administration of this service reserves the right to change the terms of service
    at any time and in any way that appears to be suitable to the administration.

